.btn{
    background-color: black;
    color: #34C94B;
    border-radius: 12px;
    float: right;
    height: 47px;
    width: 170px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: poppins;

  
}